<html>
    <head>
        <title>Jobs</title>
        <link rel= "stylesheet" type= "text/css" href= "/static/style.css" media="all">
    </head>

    <body>
        <h1>Communication Configuration Microservice</h1>

        <p>Click <a href="/view/jobs">here</a> to see the list of jobs.</p>
        <p>Click <a href="/view/cohorts">here</a> to see the list of cohorts.</p>
        <!-- <p>Click <a href="/view/users">here</a> to see the list of users and their demographics.</p> -->
    </body>
</html>
