<html>
    <head>
        <title>List of Jobs</title>
        <link rel= "stylesheet" type= "text/css" href= "/static/style.css" media="all">
        <script type=text/javascript src="/static/script.js"></script>
    </head>

    <body>
        <h1>Jobs</h1>

        <p><a href="/">Back to Main</a></p>

        <div>
            <button onclick="queueJob()">Queue a job</button>
        </div>

        <table id="dataTable">

            {% if jobs|length > 0 %}

            <tr>
                {% set ns = namespace(idx=0) %}
                {% for key in jobs[0].keys() %}
                <th onclick="sortTable({{ns.idx}})">{{ key }}</th>
                {% set ns.idx = ns.idx + 1 %}
                {% endfor %}
                <th>cancel?</th>
            </tr>
                {% for job in jobs %}
                <tr>
                    {% set ns = namespace(status=false, id=-1) %}
                    {% for key,value in job.items() %}

                        {% if key == "status" and value == "NOT STARTED" %}
                            {% set ns.status = true %}
                        {% elif key == "job ID" %}
                            {% set ns.id = value %}
                        {% endif %}

                        <td>{{ value }}</td>

                    {% endfor %}
                    {% if ns.status %}
                    <td><button onclick="cancelJob({{ns.id}})">cancel</button></td>
                        {% set ns.status = false %}
                    {% else %}
                        <td><button disabled>cancel</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% else %}
                <p>no jobs</p>
            {% endif %}
        </table>
    </body>
</html>
