<html>
    <head>
        <title>Jobs</title>
    </head>

    <body>
        <h1>JOBS</h1>

        <table border = 1>
            <tr>
                {% for key,value in jobs[0].items() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
                {% for job in jobs %}
                    <tr>
                        {% for key,value in job.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    </body>
</html>
