<html>
    <head>
        <title>List of Users</title>
        <link rel= "stylesheet" type= "text/css" href= "/static/style.css" media="all">
        <script type=text/javascript src="/static/table.js"></script>
    </head>

    <body>
        <h1>User</h1>

        <p><a href="/">Back to Main</a></p>

        <h2>User Information</h2>
        <form action = "/view/user" method = "POST" enctype="application/json">
          <!-- <div hidden >
            <label hidden>patient ID</label>
            <input hidden type="number" name="id" value=0>
          </div> -->
          <div>
            <label>date of birth</label>
            <input type="date" name="fullDateOfBirth" value="{{cohort.fullDateOfBirth}}">
          </div>
          <div>
            <label>gender</label>
            <select name="gender">
              <option disabled selected></option>
              <option value="male">male</option>
              <option value="female">female</option>
            </select>
          </div>
          <div>
            <label>income</label>
            <input type="number" name="income" value="{{cohort.income}}">
          </div>
          <div>
            <label>bill amount</label>
            <input type="number" name="billAmount" value="{{cohort.billAmount}}">
          </div>
          <div>
            <label>opt out?</label>
            <select name="optOut">
              <option disabled selected></option>
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </div>
          <div>
            <!-- <label></label> -->
            <input type="submit" value="find cohort info"/>
          </div>
        </form>

        <div></div>

        <h2>Cohort Breakdown</h2>
        <div>
          <label>Number of papers</label>
          <input disabled value="{{cohort.paperID}}">
        </div>
        <div>
          <label>Number of texts</label>
          <input disabled value="{{cohort.textID}}">
        </div>
        <div>
          <label>Number of e-mails</label>
          <input disabled value="{{cohort.emailID}}">
        </div>
    </body>
</html>
